<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar CRUD-Operation-PostgreSQL</title>
</head>
<body>
    <center>
        <h1>Operación CRUD Django-PostgeSQL</h1>
        <h3>Editar Empleados</h3>
        <br/>
        <hr/>
        <br/>    
        <form method="POST" action="/actualizar/{{EmpModel.id}}">
            {% csrf_token %}
        <table border="1">
            <tr>
                <td>ID Empleado</td>
                <td><input type='text' value="{{EmpModel.id}}" name="empnombre" readonly></td>
            </tr>    

            <tr>
                <td>Nombre Empleado</td>
                <td><input type='text' value="{{EmpModel.empnombre}}" name="empnombre"></td>
            </tr>    
            <tr>
                <td>Apellido Empleado</td>
                <td><input type='text' value="{{EmpModel.empapellido}}" name="empapellido"></td>
            </tr>    
            <tr>
                <td>Cargo</td>
                <td>
                    <input type='text' value="{{EmpModel.cargo}}" name="cargo">
                </td>
            </tr> 
            <tr>
                <td>Salario</td>
                <td><input type='text' value="{{EmpModel.salario}}" name="salario"></td>
            </tr> 
            <tr>
                <td>Genero</td>
                <td><input type="text" name ="genero" value="{{EmpModel.genero}}" readonly></td>
             </tr>      
             <tr>
                 <td><input type='submit' value='Actualizar'></td>
                 <td>
                    {% if messages %}
                    {% for mess in messages %} 
                    <b style="color:green">{{mess}}</b>
                    {% endfor%}
                    {% endif %}
                 </td>
             </tr>      

        </table>
    
        <a href="{% url 'showemp' %}" style="font-weight: bold;color:blue;">IR A LA PÁGINA DE INICIO</a>
    </form>  
    </center>
    
</body>
</html>